<div class="ms-5 mt-10 fade-in-bck">
  <div class="flex justify-center">
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/abb29737-ad40-42d3-a383-4521b8557e95/d8gmtc2-d4cda748-4657-4b76-b218-e5b66d4fa94e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FiYjI5NzM3LWFkNDAtNDJkMy1hMzgzLTQ1MjFiODU1N2U5NVwvZDhnbXRjMi1kNGNkYTc0OC00NjU3LTRiNzYtYjIxOC1lNWI2NmQ0ZmE5NGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rxvi7JASX7iABr5G0O6LCIspSpIYPOzimZQ-aZULkqU"
      alt="logo"
    />
  </div>
  <div class="mb-10 mt-20">
    <p>
      <span class="italic">Dragon Age</span> è una serie di videogiochi di ruolo
      a tema fantasy sviluppata da Bioware e pubblicata da Electronic Arts a
      partire dal 2009.
    </p>
  </div>
  <div class="w-full flex flex-col">
    <h2>Ambientazione</h2>

    <div class="w-1/2">
      <p>
        L'universo immaginario di <span class="italic">Dragon Age</span> trae
        ispirazione dalla tradizione fantasy europea; esso si sviluppa in
        un'ambientazione che si colloca all'interno del continente del Thedas,
        un tempo sotto il dominio dell'Impero Tevinter (ispirato all'Impero
        Romano) ma frammentatosi dopo molte guerre. Oltre agli esseri umani,
        nell'universo immaginario di Dragon Age si muovono anche nani, giganti,
        elfi, demoni e draghi e due razze originali create apposta per la serie:
        Qunari e Prole Oscura.
      </p>
    </div>
    <div style="text-align: -webkit-right">
      <p class="w-1/2 pe-10">
        L'universo è il classico mondo fantasy composto da varie razze e
        creature immaginarie e che la magia ha una forte influenza sulla vita e
        anche sull'economia del continente. La magia infatti è praticata dai
        maghi e streghe ma essi vengono visti con disprezzo perché molte volte
        sfruttano le loro abilità magiche per infrangere il ciclo naturale della
        vita, questo causa un razzismo verso i maghi che vengono visti
        addirittura come una razza a sé stante. Tutte le razze possono imparare
        ad utilizzare la magia ad eccezione dei nani. Negli altri continenti
        quando una persona sviluppa una certa maestria con la magia viene
        inviata verso la Torre dei Maghi per imparare a padroneggiarla ma allo
        stesso tempo non si può più uscire per molti anni diventando una sorte
        di prigione.
      </p>
    </div>
    <div class="w-1/2">
      <p>
        I maghi che non accettano di entrare nella Torre dei Maghi vengono
        considerati dei fuorilegge e braccati dai Templari, una forza militare
        addestrata appunto nel sedare e controllare i maghi. I Templari infatti
        hanno come compito quello di controllare la Torre dei Maghi e se è
        necessario uccidere un potenziale mago pericoloso. I Templari per
        riuscire a fronteggiare le arti magiche assumono un liquido chiamato
        Lyrium, un particolare minerale ricco di magia che se viene sciolto lo
        si può bere e si diventa molto resistenti alla magia tuttavia crea
        dipendenza e cambio della personalità.
      </p>
    </div>
    <div style="text-align: -webkit-right">
      <p class="w-1/2 pe-10">
        Il Lyrium è un minerale molto diffuso nel Thedas e viene spesso usato
        nelle pratiche magiche o per potenziare i soldati tuttavia è molto
        delicato e se non viene trattato da mani esperte può addirittura
        esplodere. Esiste una variante ancora più pericolosa chiamata Lyrium
        Rosso, questi rende la persona molto più aggressiva e tende a cambiare
        in modo fisico anche l'utilizzatore e dona un'incredibile forza e
        resistenza. Anche se non lo si assume la sola vicinanza o semplicemente
        toccarlo cambia il carattere delle persone fino al punto di farle
        impazzire, infatti Bartrand dopo averlo rubato lo ha conservato per anni
        fino a farlo impazzire e suo fratello Varric nonostante lo avesse
        toccato per poco tempo lo ha reso molto irascibile ma grazie
        all'amicizia con Hawke è riuscito a disfarsene. Un'altra particolarità
        di tale Lyrium Rosso è che crea una sorta di portale verso l'Oblio, il
        mondo dei demoni, permettendo loro di entrare nel continente.
      </p>
    </div>
    <div class="w-1/2">
      <p>
        Il Thedas oltre ad essere diviso in diversi regni è composto da due
        regni nanici situati nel sottosuolo che sono Orzammar e Kal-Sharok
        chiamati Thaig. Molti secoli prima c'erano moltissimi thaig ma con
        l'arrivo della Prole Oscura sono caduti tutti ad eccezione di questi
        due. I regni nanici erano collegati con delle gallerie chiamate Vie
        Profonde scavate appunto dai nani. Nessuno le ha mai esplorate tutte e
        sono talmente vaste e profonde che i nani dicono che possano raggiungere
        luoghi dimenticati perfino da loro. Con esse è possibile recarsi in ogni
        zona del Thedas ma quando la Prole Oscura è arrivata ha distrutto tutto
        e ha reso le Vie Profonde la loro tana trasformandole in un luogo molto
        pericoloso.
      </p>
    </div>
  </div>
  <div>
    <h2 style="text-align: -webkit-right" class="pe-10">Gameplay</h2>
    <div style="text-align: -webkit-right">
      <p class="w-1/2 pe-10">
        La serie Dragon Age è una serie di stampo RPG con visuale in terza
        persona. In ogni capitolo si impersona un protagonista diverso
        completamente personalizzabile scegliendo il sesso, la razza, la classe
        e addirittura la voce, solamente in Dragon Age II non si può scegliere
        la razza e il gioco obbliga a giocare nei panni di un umano. Una volta
        creato il protagonista egli viaggerà per il continente per svolgere la
        missione della trama principale e allo stesso tempo reclutare compagni
        che seguiranno il protagonista in tutta l'avventura.
      </p>
    </div>
    <div class="w-1/2">
      <p>
        In ogni capitolo della serie il protagonista ha diversi opzioni di
        dialogo con i personaggi e solamente in Dragon Age: Origins non parla
        dopo aver scelto l'opzione di dialogo. Oltre al protagonista anche i
        compagni che si reclutano possono essere controllati e a loro volta
        cambiati di equipaggiamento e migliorati con nuove abilità. Si possono
        conoscere meglio i compagni d'avventura parlando e aumentando il loro
        legame, e quando si raggiunge un certo grado di amicizia si dovrà
        svolgere una missione particolare per ognuno di loro, in modi da
        aumentare la loro stima nei confronti del protagonista. In base alla
        razza e al sesso che vengono scelti per il protagonista è possibile
        iniziare una relazione in base ai gusti del personaggio, ad esempio,
        Morrigan in Dragon Age: Origins può iniziare una relazione con il
        protagonista se è di sesso maschile a prescindere da quale razza si
        sceglie.
      </p>
    </div>
    <div style="text-align: -webkit-right">
      <p class="w-1/2 pe-10">
        Il mondo di gioco è semi-open world fino a Dragon Age II ma in Dragon
        Age: Inquisition si amplia tale concetto riuscendo ad esplorare gran
        parte del Ferelden e Orlais ovviamente in una zona della mappa ma molto
        ampia.
      </p>
    </div>
    <div style="text-align: -webkit-right">
      <p class="w-1/2 pe-10">
        La particolarità della serie è che ogni scelta compiuta ha delle
        conseguenze sull'andare della trama anche se il finale rimane lo stesso
        ma si possono vedere gli effetti nei capitoli successivi. All'inizio di
        Dragon Age II è possibile importare i salvataggi del primo capitolo,
        così facendo tutte le scelte compiute influenzeranno la trama, stesso
        discorso per Dragon Age: Inquisition, infatti le scelte compiute nei
        capitoli precedenti cambieranno alcune dinamiche della trama e ruoli di
        certi personaggi.
      </p>
    </div>
    <div class="flex justify-center mt-10">
      <button class="scroll-to-top" (click)="scrollToTop()">Torna su</button>
    </div>
  </div>
</div>
