.custom-table{
    background-color: #1c1c1c!important;
    
}

th,tr,td{
    color: white!important;
    font-family: "Geist Mono", monospace !important;
    border: 1px solid black;
}

table{
    border: 1px solid #523F35!important;
    border-spacing: 1px!important;
}

th{
    background-image: url(../../assets/table_background.webp)!important;
    border: 1px solid #523F35!important;
    font-family: 'CustomFont', sans-serif !important;
}

tr td:first-child{
    border: 1px solid black;

}

tbody{
    border: 1px solid #523F35!important;
}