<div *ngIf="gameData" class="ms-5 ps-3 fade-in-bck">
  <div class="flex mt-5">
    <div>
      <img
        mat-card-image
        [src]="getImageBase64(gameData.image_base64)"
        alt="{{ gameData.title }}"
        *ngIf="gameData.image_base64"
        class="pt-3"
        style="height: 300px; width: 200px"
      />
    </div>
    <div class="ms-5">
      <h1>{{ gameData.title }}</h1>
      <p class="text-xl">Anno di uscita: {{ gameData.year }}</p>
      <p class="text-xl">Engine: {{ gameData.engine }}</p>
      <p class="text-xl">Modalità: {{ gameData.game_mode }}</p>
    </div>
  </div>

  <div class="mt-5 text-end me-10">
    <h3>Trama</h3>
    <p [innerHTML]="gameData.storyline | backspace"></p>
  </div>
  <div class="mt-5 pe-10">
    <h3>Gameplay</h3>
    <p [innerHTML]="gameData.gameplay | backspace"></p>
  </div>
  <!-- characters -->
  <div class="mt-5">
    <h3>Personaggi</h3>
    <div class="flex flex-wrap mt-5">
      <mat-card
        *ngFor="let character of characterData"
        class="w-1/6 my-5 mx-3 h-72 flex flex-col items-center justify-between move"
        (click)="getDetail(character.id)"
      >
        <a [routerLink]="['/detail', character.id]" class="text-center">
          <img
            mat-card-image
            [src]="getImageBase64(character.image_base64)"
            alt="{{ character.name }}"
            *ngIf="character.image_base64"
            class="pt-5"
            style="height: 232px; width: 156px"
          />
          <p class="font">{{ character.name }}</p>
        </a>
      </mat-card>
    </div>
  </div>
  <!-- DLC -->
  <div>
    <h3>DLC</h3>
    <button (click)="goToDlc()">Vedi i contenuti aggiuntivi del gioco</button>
  </div>
  <!-- goals -->
  <div>
    <h3>Obiettivi</h3>
    <button (click)="goToGoals()">Vedi obiettivi del gioco</button>
  </div>
  <!-- table -->
  <div class="mt-5">
    <h3>Requisiti di Sistema</h3>
    <table>
      <thead>
        <tr>
          <td></td>
          <td>PC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>OS</td>
          <td [innerHTML]="gameData.pc_system_OS | backspace"></td>
        </tr>
        <tr>
          <td>CPU</td>
          <td [innerHTML]="gameData.pc_system_CPU | backspace"></td>
        </tr>
        <tr>
          <td>Ram</td>
          <td [innerHTML]="gameData.pc_system_RAM | backspace"></td>
        </tr>
        <tr>
          <td>Scheda Grafica</td>
          <td [innerHTML]="gameData.pc_graphics_card | backspace"></td>
        </tr>
        <tr>
          <td>Memoria Grafica</td>
          <td [innerHTML]="gameData.pc_graphics_memory | backspace"></td>
        </tr>
        <tr>
          <td>Hard Drive</td>
          <td [innerHTML]="gameData.pc_hard_drive | backspace"></td>
        </tr>
        <tr>
          <td>Altro</td>
          <td [innerHTML]="gameData.pc_other | backspace"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex justify-center mt-10">
    <button class="scroll-to-top" (click)="scrollToTop()">Torna su</button>
  </div>
</div>
