<div *ngIf="gameData">
  <h1>{{ gameData.title }}</h1>
  <div>
    <p>Anno di uscita: {{ gameData.year }}</p>
    <p>Engine: {{ gameData.engine }}</p>
    <p>Modalità: {{ gameData.game_mode }}</p>
  </div>
  <div>
    <img
      mat-card-image
      [src]="gameData.image_url"
      alt="{{ gameData.title }}"
      *ngIf="gameData.image_url"
      class="pt-5"
      style="height: 232px; width: 156px"
    />
  </div>
  <div>
    <h3>Trama</h3>
    <p>{{ gameData.storyline }}</p>
  </div>
  <div>
    <h3>Gameplay</h3>
    <p>{{ gameData.gameplay }}</p>
  </div>
  <!-- characters -->
  <div class="ms-5">
    <h3 class="pt-10 ps-3 text-2xl">Personaggi</h3>
    <div class="flex flex-wrap mt-5">
      <mat-card
        *ngFor="let character of characterData"
        class="w-1/6 my-5 mx-2 h-72 flex flex-col items-center justify-between custom-card"
        (click)="getDetail(character.id)"
      >
        <a [routerLink]="['/detail', character.id]" class="text-center">
          <img
            mat-card-image
            [src]="character.image_url"
            alt="{{ character.name }}"
            *ngIf="character.image_url"
            class="pt-5"
            style="height: 232px; width: 156px"
          />
          <p class="py-2">{{ character.name }}</p>
        </a>
      </mat-card>
    </div>
  </div>
  <!-- table -->
  <div>
    <h3>Requisiti di Sistema</h3>
    <table>
      <th>
        <tr>
          <td></td>
          <td>PC</td>
          <td>MAC</td>
        </tr>
        <tbody>
          <tr>
            <td>OS</td>
            <td [innerHTML]="gameData.pc_system_OS | backspace"></td>
            <td>{{ gameData.mac_system_OS }}</td>
          </tr>
          <tr>
            <td>CPU</td>
            <td [innerHTML]="gameData.pc_system_CPU | backspace"></td>
            <td>{{ gameData.mac_system_CPU }}</td>
          </tr>
          <tr>
            <td>Ram</td>
            <td [innerHTML]="gameData.pc_system_RAM | backspace"></td>
            <td>{{ gameData.mac_system_RAM }}</td>
          </tr>
          <tr>
            <td>Scheda Grafica</td>
            <td [innerHTML]="gameData.pc_graphics_card | backspace"></td>
            <td>{{ gameData.mac_graphics_card }}</td>
          </tr>
          <tr>
            <td>Memoria Grafica</td>
            <td [innerHTML]="gameData.pc_graphics_memory | backspace"></td>
            <td>{{ gameData.mac_graphics_memory }}</td>
          </tr>
          <tr>
            <td>Hard Drive</td>
            <td [innerHTML]="gameData.pc_hard_drive | backspace"></td>
            <td>{{ gameData.mac_hard_drive }}</td>
          </tr>
          <tr>
            <td>Altro</td>
            <td [innerHTML]="gameData.pc_other | backspace"></td>
            <td>{{ gameData.mac_other }}</td>
          </tr>
        </tbody>
      </th>
    </table>
  </div>
</div>
