<div *ngIf="gameData">
  <h1>{{ gameData.title }}</h1>
  <div>
    <p>Anno di uscita: {{ gameData.year }}</p>
    <p>Engine: {{ gameData.engine }}</p>
    <p>Modalità: {{ gameData.game_mode }}</p>
  </div>
  <div>
    <img
      mat-card-image
      [src]="gameData.image_url"
      alt="{{ gameData.title }}"
      *ngIf="gameData.image_url"
      class="pt-5"
      style="height: 232px; width: 156px"
    />
  </div>
  <div>
    <h3>Trama</h3>
    <p>{{ gameData.storyline }}</p>
  </div>
  <div>
    <h3>Gameplay</h3>
    <p>{{ gameData.gameplay }}</p>
  </div>
  <!-- characters -->
  <div class="ms-5">
    <h3 class="pt-10 ps-3 text-2xl">Personaggi</h3>
    <div class="flex flex-wrap mt-5">
      <mat-card
        *ngFor="let character of characterData"
        class="w-1/6 my-5 mx-2 h-72 flex flex-col items-center justify-between custom-card"
        (click)="getDetail(character.id)"
      >
        <a [routerLink]="['/detail', character.id]" class="text-center">
          <img
            mat-card-image
            [src]="character.image_url"
            alt="{{ character.name }}"
            *ngIf="character.image_url"
            class="pt-5"
            style="height: 232px; width: 156px"
          />
          <p class="py-2">{{ character.name }}</p>
        </a>
      </mat-card>
    </div>
  </div>
  <!-- table -->
  <div>
    <h3>Requisiti di Sistema</h3>
    <table mat-table [dataSource]="gameDataArray" class="mat-elevation-z8">
      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let game">OS</td>
        <td mat-cell *matCellDef="let game">CPU</td>
        <td mat-cell *matCellDef="let game">Ram</td>
        <td mat-cell *matCellDef="let game">Scheda Grafica</td>
        <td mat-cell *matCellDef="let game">Memoria Grafica</td>
        <td mat-cell *matCellDef="let game">Hard Drive</td>
        <td mat-cell *matCellDef="let game">Altro</td>
      </ng-container>
      <!-- PC Column -->
      <ng-container matColumnDef="pc">
        <th mat-header-cell *matHeaderCellDef>PC</th>
        <td mat-cell *matCellDef="let game">{{ game.pc_system_OS }}</td>
        <td mat-cell *matCellDef="let game">{{ game.pc_system_CPU }}</td>
        <td mat-cell *matCellDef="let game">{{ game.pc_system_RAM }}</td>
        <td mat-cell *matCellDef="let game">{{ game.pc_graphics_card }}</td>
        <td mat-cell *matCellDef="let game">{{ game.pc_graphics_memory }}</td>
        <td mat-cell *matCellDef="let game">{{ game.pc_hard_drive }}</td>
        <td mat-cell *matCellDef="let game">{{ game.pc_other }}</td>
      </ng-container>
      <!-- MAC Column -->
      <ng-container matColumnDef="mac">
        <th mat-header-cell *matHeaderCellDef>MAC</th>
        <td mat-cell *matCellDef="let game">{{ game.mac_system_OS }}</td>
        <td mat-cell *matCellDef="let game">{{ game.mac_system_CPU }}</td>
        <td mat-cell *matCellDef="let game">{{ game.mac_system_RAM }}</td>
        <td mat-cell *matCellDef="let game">{{ game.mac_graphics_card }}</td>
        <td mat-cell *matCellDef="let game">{{ game.mac_graphics_memory }}</td>
        <td mat-cell *matCellDef="let game">{{ game.mac_hard_drive }}</td>
        <td mat-cell *matCellDef="let game">{{ game.mac_other }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
