/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'CustomFont';
    src: url('../public/Inquisition-J4mM.ttf') format('truetype');
}

body{
    color:white;
    margin: 0; 
    font-family: 'CustomFont', sans-serif !important;
    background-image: url(../public/bg-tile.jpg);

}
html, body { height: 100%; }

h1, h2, h3, h4,h5,h6, table,th{
    font-family: 'CustomFont', sans-serif !important; 
    color: white;
}


