/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CustomFont';
    src: url('../public/Inquisition-J4mM.ttf') format('truetype');
}

body{
    height: 100% !important;
    color:white;
    margin: 0; 
    font-family: "Geist Mono", monospace;
    background-image: url(../public/bg-tile.jpg);

}
html, body { height: 100%; }

h1, h2, h3, h4,h5,h6, table{
    font-family: 'CustomFont', sans-serif !important; 
    color: white;
}

.font{
    font-family: 'CustomFont', sans-serif !important;  
}

table {
    background: rgba(86, 86, 87, 0.048);
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(31, 32, 33, 1);
    margin-top: 2rem;
  }

tr{
    border-bottom: 1px solid white;
}
td{
    padding: 1rem;
}

tr td:first-child{
    border-right: 1px solid white;
}

tr td:last-child{
    border-left: 1px solid white;
}





