/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CustomFont';
    src: url('../public/Inquisition-J4mM.ttf') format('truetype');
}

body{
    height: 100% !important;
    color:white;
    margin: 0; 
    font-family: "Geist Mono", monospace !important;
    background-image: url(../public/bg-tile.jpg);

}
html, body { height: 100%; }

h1, h2, h3, h4,h5,h6, table{
    font-family: 'CustomFont', sans-serif !important; 
    color: white;
}

.font{
    font-family: 'CustomFont', sans-serif !important;  
}

table {
    background: rgba(86, 86, 87, 0.048);
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(31, 32, 33, 1);
    margin-top: 2rem;
  }

tr{
    border-bottom: 1px solid white;
}
td{
    padding: 1rem;
}

tr td:first-child{
    border-right: 1px solid white;
}

tr td:last-child{
    border-left: 1px solid white;
}

.scroll-to-top {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: rgba(86, 86, 87, 0.17);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.377);
    color: white;
    border: 1px solid #523F35!important;
    border-radius: 5px;
    cursor: pointer;
  }

.scroll-to-top:hover{
    background: rgba(114, 114, 115, 0.17);
}

  .fade-in-bck {
	-webkit-animation: fade-in-bck 0.9s linear both;
	        animation: fade-in-bck 0.9s linear both;
}
 @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  /* .card{background: rgba(86, 86, 87, 0.17)!important;} */

  .move {
    --g: 2px;     /* the gap */
    --b: 12px;    /* border thickness*/
    --c: #523F35; /* the color */
    
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  }
  .move:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }

  a:hover{
    cursor: pointer;
    color:#654e42;
  }
  



